.encabezadoContainer {
    display: flex;
    background-color: #FA770F;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.clockIcon {
    font-size: calc(1.3rem + 1.5vw);
    margin-left: 2rem;
}

.tituloText {
    text-align: left;
    width: 100%;
    color: antiquewhite;
    margin-left: 20px;
    font-family: "Nunito";
}


.centrar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.areasContainer {
    background-color: #FC8B0D;
    border-radius: 3%;
    border: solid 0.2em;
    border-color: orangered;
    box-shadow: 5px 5px 5px 5px lightgray;
}

.buttonAreas {
    margin: 10px 10px;
    border-radius: 10%;
    background-color: #f8a547;
    border: solid 0.2em;
    border-color: rgb(218, 58, 0);
}

.textAreas {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: aliceblue;
}