.infoTurno {
    background-color: #FC8B0D;
    border-radius: 2rem;
    border: solid 0.2em;
    border-color: orangered;
    box-shadow: 5px 5px 5px 5px lightgray;
}

.esperaContainer {
    background-color: #FC8B0D;
    border-radius: 2rem;
    border: solid 0.2em;
    border-color: orangered;
    box-shadow: 5px 5px 5px 5px lightgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.centrarCaja {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}